@import "./variables";

.c-main__download {
    align-items: center;
    background: url("../../images/footer__background.png") center center no-repeat;
    background-size: cover;
    color: $imageTextColor;
    flex-direction: column;
    font-family: $titleFont;
    height: 70vh;
    justify-content: center;
    padding: ($size * 5) 0;
    text-align: center;

    .c-download__title {
        font-size: $size * 5;
    }

    h4 {
        font-size: $size * 3;
        font-weight: 500;
    }

    .c-download__cta {
        margin-top: $size * 4;
    }
}
