@import "./variables";

.c-main__home {
    align-items: center;
    background: url("../../images/banner.png") center center no-repeat;
    background-size: cover;
    color: $imageTextColor;
    flex-direction: column;
    font-family: $titleFont;
    justify-content: center;
    min-height: calc(100vh - 100px);
    text-align: center;

    .c-home__app-name {
        font-size: $size * 3;
    }

    .c-home__title {
        font-size: $size * 10;
        line-height: $size * 10;
        margin: $size * 4 0;
    }

    .c-home__cta {
        h4 {
            font-weight: 500;
            font-size: $size * 3;
            margin-bottom: $size * 8;
        }
    }
}
