@import "./variables";
@import "./header";
@import "./home";
@import "./img-overview";
@import "./howworks";
@import "./download";
@import "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: $size * 5;
    color: #fff;
    cursor: pointer;
    font-size: $size * 4;
    font-weight: bold;
    padding: $size * 1.75 $size * 8;
    transition: 500ms;

    &:last-child {
        margin-left: $size;
    }

    &:hover {
        background-color: $highlightColor;
        border-color: $highlightColor;
    }
}

@media screen and (max-width: 720px) {
    .c-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .c-main__how-works {
        gap: $size * 2;

        div {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 460px) {
    .c-header__menu-itens {
        flex-wrap: wrap;
        justify-content: center;
    }

    .c-main__home .c-home__title {
        font-size: $size * 5;
    }

    .c-home__cta button {
        margin-top: $size * 2;
    }

    .c-main__how-works {
        div .content h4 {
            font-size: $size * 3;
        }
    }

    .c-footer {
        flex-direction: column;
        gap: $size * 2;
    }
}
