@import "./variables";
@import "./header";
@import "./home";
@import "./img-overview";
@import "./howworks";
@import "./download";
@import "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: $size * 5;
    color: #fff;
    cursor: pointer;
    font-size: $size * 4;
    font-weight: bold;
    padding: $size * 1.75 $size * 8;
    transition: 500ms;

    &:last-child {
        margin-left: $size;
    }

    &:hover {
        background-color: $highlightColor;
        border-color: $highlightColor;
    }
}
